/* styles.css */

/* Reseta o estilo padrão do navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos do corpo */
body {
    font-family: Arial, sans-serif;
    background-color: #2a2a2a; /* Cor de fundo */
    font-color: #ffffff; /* Cor do texto ajustada para maior contraste */
    display: flex; /* Usar Flexbox */
    flex-direction: column; /* Direção da coluna */
    min-height: 100vh; /* Altura mínima de 100% da viewport */
}

/* Estilos do cabeçalho */
header {
    background: #45108a; /* Cor do cabeçalho */
    color: white; /* Cor do texto do cabeçalho */
    padding: 20px; /* Espaçamento interno */
    text-align: center; /* Centraliza o texto */
   
}

/* Estilos da seção principal */
main {
    flex: 1; /* Permite que o conteúdo principal expanda para preencher o espaço disponível */
    padding: 20px; /* Espaçamento interno */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white; 
}

/* Estilos das seções */
section {
    margin-bottom: 20px; /* Espaçamento entre seções */
    padding: 20px; /* Espaçamento interno */    
    border-radius: 8px; /* Cantos arredondados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    width: 80%; /* Largura da seção para melhorar a responsividade */
    max-width: 1200px; /* Largura máxima */
    text-align: center; /* Centraliza o conteúdo */
}

/* Estilos para a classe 'under' */
.under {
    color: #ffffff;  
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    font-style: oblique;
    text-align: center;
}

/* Estilos da seção de logotipo */
.logo-section {
    display: flex;
    align-items: center;
    justify-content: center;
    
     /* Cor de fundo */
}

.logo {
    max-width: 310px; /* Largura máxima do logotipo */
}

/* Estilos do rodapé */
footer {
    text-align: center; /* Centraliza o texto do rodapé */
    padding: 15px; /* Espaçamento interno */
    background: #45108a; /* Cor do rodapé */
    color: white; /* Cor do texto do rodapé */
    position: absolute;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2); /* Sombra para o rodapé */
}